<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stayputrunner.dev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
      <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
<uses-permission android:name="android.permission.RECEIVE_SMS"/> 
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/stayput_logo_square"
      android:roundIcon="@mipmap/stayput_logo_square"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:supportsRtl="true"
      tools:replace="android:supportsRtl"
      android:theme="@style/AppTheme">
<!--         tools:replace="android:allowBackup" -->
        <!--   tools:node="replace" --> 
        <!-- add25 line at 22line  -->
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:exported="true"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
       <!--start code for push notification -->

        <!-- Change the value to true to enable pop-up for in foreground on receiving remote notifications (for prevent duplicating while showing local notifications set this to false) -->
        <meta-data  android:name="com.dieam.reactnativepushnotification.notification_foreground"
                    android:value="true"/>
                      <meta-data  android:name="com.dieam.reactnativepushnotification.notification_backround"
                    android:value="true"/>
        <!-- Change the resource name to your App's accent color - or any other color you want -->
        <meta-data  android:name="com.dieam.reactnativepushnotification.notification_color"
                    android:resource="@color/white"/> <!-- or @android:color/{name} to use a standard color -->
            <meta-data
      android:name="com.dieam.reactnativepushnotification.default_notification_channel_id"
      android:value="STAYPUT_RUNNER_CHANNEL_ID" />
        <receiver  android:exported="false" android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions" />
        <receiver  android:exported="false" android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
        <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
         <!--end code for push notification -->
      <meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyAg75Ekm-fJV3fmMWULmwxp-z3E5P0p3RM"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
            
        <meta-data android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>
             <!-- <meta-data android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" /> -->
      
    </application>
</manifest>





